<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>TripNow</title>
  <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
</head>

<body id="app">
  <div class="contenedor">
    <div class="inicio d-flex justify-content-center">
      <div class="wrapper">
        <span class="icon-close">
          <ion-icon name="close-circle"></ion-icon>
        </span>

        <div class="form-box login">
          <p class="iniciar">Iniciar Sesión</p>
          <form @submit.prevent="Login">
            <div class="input-box">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email" v-model="email" required>
              <label>Email</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" v-model="contrasena" required>
              <label>Contraseña</label>
            </div>
            <div class="remember-forgot mt-4">
              <label><input type="checkbox">Recordarme</label>
              <a href="#">Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="botn">Iniciar Sesión</button>
            <div class="login-register mt-2">
              <p>No tienes cuenta?<a href="#" class="register-link ps-2">Registrarse</a></p>
            </div>
          </form>
        </div>
        <div class="form-box register">
          <p class="iniciar">Registrate</p>
          <form @submit.prevent="Register">
            <div class="cajaContenedora">
              <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input type="text" v-model="nombre" placeholder="Nombre" required>
              </div>
              <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input type="text" v-model="apellido" placeholder="Apellido" required>
    
              </div>
            </div>
            <label>Fecha de nacimiento: </label>
            <div class="input-box">
              
              <input type="date" v-model="fechaNac" required>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <input type="text" v-model="direccion" placeholder="Dirección" required>
    
            </div>
            <div class="cajaContenedora">
              <div class="input-box">
                <span class="icon"><ion-icon name="airplane-outline"></ion-icon></span>
                <input type="text" v-model="pasaporte" placeholder="Pasaporte" required>
      
              </div>
              <div class="input-box">
                <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                <input type="number" v-model="telefono" placeholder="Telefono" required>
    
              </div>
            </div>
            <div class="cajaContenedora">
              <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="email" v-model="email2" placeholder="Email" required>
              </div>
              <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" v-model="contrasena2" placeholder="Contraseña" required>
        
              </div>
            </div>

            <div class="remember-forgot ">
              <label><input type="checkbox" required>
                Estoy de acuerdo con los terminos y condiciones
              </label>
            </div>
            <button type="submit" class="botn">Registrarse</button>
            <div class="login-register">
              <p>Ya tienes cuenta?<a href="#" class="login-link ">Iniciar Sesión</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="levantado ">
      <video src="../assets/pexels-fl-studio-imageline-3094026-3840x2160-30fps.mp4" autoplay muted loop></video>
      <img class="fondo" src="../assets/fondo-video-img.jpg" alt="">
      <header>
        <nav class="d-flex flex-wrap justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <img class="logo " src="../assets/logo.png" alt="">
              <h1 class="brand me-5">TripNow</h1>
            </div>
           
              <div class="d-flex align-items-center justify-content-center gap-4">
                <a class="nav-link " href="#destinos">Destinos</a>
                <a class="nav-link " href="#sobreNosotros">Sobre Nosotros</a>
                <button class="btnLogin-popup">Iniciar Sesión</button>
              </div>
             
        </nav>
      </header>
      <div class="contenido">
        <div>
          <p class="titulo">Viaja con</p>
          <p class="titulo2">TRIPNOW</p>
        </div>
        <div >
          <p class="invita2">¿Listo para escapar de la rutina? Permítenos llevarte a lugares mágicos y llenos de encanto, deja que tu
            espiritu aventurero se despierte.

            El mundo es un libro abierto y aquellos que no viajan solo leen una página. ¡Descubre nuevas historias con
            nosotros! </p>
        </div>
        <div>
          <a class="boton" href="#destinos">Conoce más</a>
        </div>

      </div>
    </div>
  </div>

  <div>
    <div class="separador">
      <p class="titulo4 text-center">NUESTROS DESTINOS MÁS FAMOSOS</p>
    </div>
    <div id="destinos" class="destinos d-flex align-items-center">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">

            <div class="d-flex box ">
              <div class="d-flex flex-column justify-content-center">
                <p class="titulo3">Mendoza</p>
                <p class="invita">Mendoza el corazón de la zona vitivinícola argentina, famosa por sus
                  Malbecs y otros vinos tintos. Sus distintas bodegas ofrecen degustaciones y visitas guiadas, con
                  lugares imperdibles para visitar como el cerro de los siete colores, entre otros.</p>
                
              </div>
              <img src="../assets/mendoza.jpg" class="d-block imagenDestino">
            </div>

          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="d-flex box">
              <div class="d-flex flex-column justify-content-center">
                <p class="titulo3">Cataratas</p>
                <p class="invita">Con una fauna que está compuesta por 450 especies de aves, 80 especies de
                  mamíferos, gran variedad de insectos y dentro de la fauna fluvial podemos encontrar yacarés,
                  tortugas, garzas y peces.</p>
                
              </div>
              <img src="../assets/cataratas.jpg" class="d-block imagenDestino">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="d-flex box ">
              <div class="d-flex flex-column justify-content-center ">
                <p class="titulo3">Bariloche</p>
                <p class="invita">Veni a conocer y disfrutar de Bariloche, con sus hermosos y coloridos
                  paisajes, con varias actividades como para disfrutar en familia.</p>
                
              </div>
              <img src="../assets/Y2OOAJJJ5NFGVJTHJRJB7HRFRU.jpg" class="d-block imagenDestino">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="d-flex box ">
              <div class="d-flex flex-column justify-content-center">
                <p class="titulo3">Glaciares</p>
                <p class="invita">Protege las extensiones patagónicas salvajes de Argentina de glaciares
                  helados y lagos de montaña. Con 47 glaciares masivos, la capa de hielo andina es la más grande
                  fuera de la Antártida y Groenlandia.</p>
                
              </div>
              <img src="../assets/Glaciar2.jpg" class="d-block imagenDestino" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="separador">
      <p class="titulo4 text-center">SOBRE NOSOTROS</p>
    </div>
    <div class="sobreNosotros d-flex flex-column align-items-center" id="sobreNosotros">
      <div class="d-flex w-100 justify-content-evenly caja3">
        <div class=" tarjeta p-4 ">
          <p class="titulo3"> Misión</p>
          <p class="texto">Ser el socio confiable y experto en viajes de nuestros clientes, brindando experiencias
            excepcionales y personalizadas que les permitan descubrir el mundo, conectarse con diferentes culturas y
            crear recuerdos inolvidables.
          </p>
        </div>
        <div class=" tarjeta p-4 ">
          <p class="titulo3"> Visión</p>
          <p class="texto">Convertirnos en la agencia de viajes líder a nivel mundial, reconocida por nuestra excelencia
            en el servicio al cliente,la creación de experiencias únicas y nuestra contribución positiva al desarrollo
            sostenible del turismo. </p>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-evenly caja3">
        <div class=" tarjeta p-4 ">
          <p class="titulo3 ">Historia</p>
          <p class="texto">Somos una agencia líder en la industria del turismo, especializada en la planificación y
            organización de viajes inolvidables. Con una trayectoria de más de 10 años en el mercado, nos hemos ganado
            una sólida reputación por ofrecer servicios de alta calidad y por brindar experiencias únicas y
            pesonalizadas.</p>
        </div>
        <div class=" tarjeta p-4 ">
          <p class="titulo3">Previaje</p>
          <p class="texto"> Estamos adheridos al PreViaje. Para mas informacion detallada ingresa aqui <a
              href="https://previaje.gob.ar/">www.previaje.gob.ar </a></p>
        </div>
      </div>

    </div>
    <!-- -------------------------------Modal de preguntas------------------------------- -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal5">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel3">Preguntas Frecuentes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-flex justify-content-center align-items-center flex-column">

              <div>
                <h6 class="p-1 text-white">¿Cómo conseguir vuelos baratos?</h6>
                <h6>Lo primero que tenés que hacer es registrarte con tu email para que te lleguen todas las alertas de
                  vuelos baratos que mandamos.</h6>

                <h6 class="p-1 text-white">¿Cuándo hay promociones aéreas?</h6>
                <h6>Las promociones aéreas dependen de las agencias y aerolíneas. En Tripnow estamos constantemente
                  detectando las mejores promociones aéreas y enviándoselas a nuestros usuarios para que puedan
                  aprovecharlas.</h6>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------------------Modal de contacto------------------------------- -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal5">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel3">Contáctanos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-center align-items-center flex-column">
            <form class="">

              <div>
                <div class="d-flex gap-2">
                  <h6 class="text-white">Telefono:</h6>
                  <h6 >+0682661206</h6>
                </div>

                <h6 class="p-1 text-white">Oficinas</h6>                 
                  <h6>Si desea una atencion mas personalizada puede dirigirse a nuestra nuestras oficinas ubicadas en
                  Bartolomé Mitre 1413.</h6>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d494.9655765010872!2d-58.385966084700904!3d-34.607261572541354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac4e794a549%3A0x91700a45214d6561!2sBartolom%C3%A9%20Mitre%201413%2C%20C1037ABA%20CABA!5e0!3m2!1ses!2sar!4v1685846177420!5m2!1ses!2sar"
                  width="350" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade" ></iframe>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------------------Modal de terminos y condiciones------------------------------- -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal5">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel3">Términos y condiciones</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-flex justify-content-center align-items-center flex-column">

              <div>
                <h6>
                  Reservas y pagos: Explica el proceso de reserva y los métodos de pago aceptados. Especifica si se
                  requiere un depósito o pago completo, así como cualquier política de cancelación y reembolso.

                  Responsabilidad y exención de responsabilidad: Indica las responsabilidades tanto de la agencia de
                  viajes como del cliente. Aclara que la agencia no se hace responsable de accidentes, pérdidas,
                  retrasos, lesiones o daños ocurridos durante el viaje.

                  Modificaciones y cancelaciones: Establece las condiciones en caso de que el cliente necesite modificar
                  o cancelar su reserva, incluyendo cualquier penalidad o tarifa administrativa aplicable.

                  Documentación de viaje: Informa al cliente sobre los documentos necesarios para el viaje, como
                  pasaportes, visas, certificados de vacunación, etc. Asegúrate de que los clientes sean responsables de
                  obtener la documentación correcta antes de viajar.

                  Seguro de viaje: Recomienda encarecidamente que los clientes adquieran un seguro de viaje que cubra
                  posibles contingencias, como cancelaciones, enfermedades o pérdidas de equipaje.

                  Cambios en itinerarios y precios: Establece que la agencia de viajes se reserva el derecho de realizar
                  cambios en los itinerarios, alojamientos u otros servicios en caso de fuerza mayor. Además, aclara que
                  los precios pueden estar sujetos a cambios sin previo aviso.
                </h6>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------------------Modal de ofertas de temporada------------------------------- -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal5">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel3">!Ofertas de temporada¡</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-flex justify-content-center align-items-center flex-column">

              <div>
                <h6 class="p-1 text-white">🌴🌞🌊 ¡Prepárate para unas vacaciones inolvidables en los destinos más increíbles de Argentina! 🌴🌞🌊</h6>

                <h6 class="p-1 text-white">📢 ¡Oferta de temporada limitada! 📢 </h6>
                <h6>Reserva ahora y aprovecha descuentos de hasta un 30% en nuestros paquetes turísticos nacionales.</h6>

                <h6 class="p-1 text-white">🌟 Disfruta de las bellezas naturales de Argentina 🌟 </h6>
                <h6>Explora la exuberante selva misionera en Iguazú, maravíllate con los glaciares majestuosos en El Calafate o déjate seducir por las playas paradisíacas de Mar del Plata. Con TripNow, tus sueños de viajar se hacen realidad.</h6>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------------------Modal de opiniones------------------------------- -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal5">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel3">Opiniones</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-flex justify-content-center align-items-center flex-column">

              <div>
                <h6 class="p-1 ">🌟 "¡La mejor experiencia de viaje que he tenido! TripNow hizo posible que descubriera lugares impresionantes en Argentina que nunca hubiera imaginado. Su atención al detalle y su profesionalismo fueron sobresalientes. Definitivamente, volveré a viajar con ellos en el futuro". - Marta G.</h6>

                <h6 class="p-1">🌟 "TripNow superó todas mis expectativas. Desde el momento en que hice la reserva hasta el final del viaje, me sentí cuidado y atendido. El equipo de TripNow fue amable, servicial y siempre estuvo disponible para responder mis preguntas. Recomiendo encarecidamente sus servicios". - Juan M.</h6>
                
                <h6 class="p-1">🌟 "Gracias a TripNow, pude realizar el viaje de mis sueños. Su conocimiento de los destinos y su capacidad para adaptarse a mis preferencias hicieron que mi experiencia fuera inolvidable. Cada aspecto del viaje fue perfectamente organizado y me permitió disfrutar al máximo de cada momento". - Ana R.</h6>

                <h6 class="p-1">🌟 "Como viajera frecuente, he probado varias agencias de viajes, pero TripNow se destaca. Su atención personalizada, su amplia variedad de opciones y su compromiso con la calidad son incomparables. No puedo esperar para reservar mi próximo viaje con ellos". - Carlos S.</h6>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
     <!-- -------------------------------Modal de ayuda------------------------------- -->
     <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal5">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel3">Ayuda</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-flex justify-content-center align-items-center flex-column">

              <div>
                <h6 class="p-1 "><span class="text-white">🌟 Asesoramiento personalizado:</span> Nuestro equipo de expertos en viajes está aquí para ayudarte en cada paso del camino. Ya sea que necesites recomendaciones sobre destinos, información sobre actividades o consejos para encontrar el mejor alojamiento, estamos comprometidos en brindarte el asesoramiento personalizado que necesitas.</h6>

                <h6 class="p-1 "><span class="text-white">🌟 Soporte las 24 horas:</span> Sabemos que los imprevistos pueden ocurrir en cualquier momento, por eso, ofrecemos asistencia las 24 horas del día, los 7 días de la semana. Si tienes alguna emergencia durante tu viaje o necesitas ayuda inmediata, nuestro equipo estará a tu disposición para brindarte el apoyo necesario.</h6>

                <h6 class="p-1 "><span class="text-white">🌟 Resolución de problemas: </span> Si algo no sale como estaba planeado, no te preocupes. TripNow se encarga de resolver cualquier problema que pueda surgir. Nuestro objetivo es que tu experiencia de viaje sea lo más fluida posible, por lo que estaremos allí para encontrar soluciones rápidas y eficientes.</h6>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="final">
      <footer>
        <div class="d-flex flex-column">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Contáctanos</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal5">Ofertas de temporada</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal6">Opiniones</a>
        </div>
        <div class="d-flex flex-column">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal7">Ayuda</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">Preguntas Frecuentes</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4">Terminos y Condiciones</a>
        </div>
        <div>
          <div>
            <a href="https://www.facebook.com/">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
              </svg></a>
            <a href="https://www.instagram.com/">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
              </svg></a>
            <a href="https://www.whatsapp.com/">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                <path
                  d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
              </svg></a>
          </div>
          <p>Copyright © 2023 TripNow.</p>
          <p>Todos los derechos reservados</p>
        </div>
      </footer>
    </div>
  </div>

  <!-- boton -->
  <button class="back-to-top hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="back-to-top-icon" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
    </svg>
  </button>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>