<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TripNow</title>
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<!-- <header>

    </header> -->

<body>
    <div id="app">
        <header>
            <h1 class="app text-center"> Detalle de Compra a pagar</h1>
        </header>

        <main>
            <form @submit.prevent class="formulario">
                <h2 class="text-center titulo">Pagar Orden</h2>
                <div>
                    <div class="contenedor">
                        <div class="form-group">
                            <label for="numeroTargeta" class="form-label">Numero de Tarjeta:</label>
                            <input id="numeroTargeta" type="text" placeholder="Numero de Tarjeta" maxlength="50"
                                v-model="digits">
                        </div>
                        <div class="d-flex align-items-center justify-content-between  flex-wrap">
                            <h5>Tipo de Tarjeta:</h5>
                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                <label for='q1'> CREDITO</label>
                                <input id='q1' name='q' type='radio' value="CREDIT" v-model="typeCard">
    
    
                                <label for='q2'> DEBITO </label>
                                <input id='q2' name='q' type='radio' value="DEBIT" v-model="typeCard">
    
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cvv">Cvv</label>
                            <input id="cvv" type="number" placeholder="cvv" v-model="cvv">

                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="email" placeholder="email" maxlength="50" v-model="email">

                        </div>
                        <div class="form-group">
                            <label for="monto">Monto </label>
                            <input id="monto" type="number" placeholder="monto" v-model="amount">

                        </div>
                        <div class="form-group">
                            <label for="order">Numero de orden </label>
                            <input id="order" type="number" placeholder="numero de orden" v-model="idOrden">

                        </div>
                        <div class="form-group">
                            <label for="descrip">Descripcion</label>
                            <input id="descrip" type="text" placeholder="descripcion" v-model="description">

                        </div>
                        <div>
                            <div class="mt-5 d-flex justify-content-evenly flex-wrap ">
                                <button class="boton" @click="postPay">Pagar</button>
                                <button class="boton" @click="enviarPDF(idOrden)">Enviar ticket por mail</button>
                                <button class="boton"
                                    onclick="window.location.href='/html/carrito.html'">Volver</button>
                            </div>
                        </div>


                    </div>
                </div>
            </form>
            <div class="tabla">
                <div class="table_body">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center">Cantidad Pasajeros</th>
                                <th class="text-center">Fecha de Creacion</th>
                                <th class="text-center">Precio Total Orden</th>
                                <th class="text-center">Numero de Orden</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="orden in ordenes">
                                <td class="text-center">{{ orden.cantidadPasajeros }}</td>
                                <td class="text-center">{{ orden.fechaCreacion.slice(0, 10) }}</td>
                                <td class="text-center">{{ format(orden.precioTotalOrden) }}</td>
                                <td class="text-center">{{ orden.id }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>





    </div>

    </div>
    <div class="loader"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./posnet.js"></script>

</body>

</html>