@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:"Poppins", sans-serif; */
}

body{
    background-image: linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425)), url(../assets/fondo-video-img.jpg);
    background-size: cover; 
}
header{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.288);
    /* border-radius:20px ; */
    min-height: 10vh;
  }
header .brand {
    color: white;
    font-size: 1.7em;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
  }
header .navigation .navigation-items a {
    color: white;
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
  }
  
  header .navigation .navigation-items a:hover{
    color: rgb(171, 228, 255);
  }
  #tarjeta-paquete{
    width: 25rem;
    height: 18rem;
    border-radius: 10px;
  }
  .paquete{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 28rem;
    background: rgba(255, 255, 255, 0.281);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  }
  .principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    margin-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  
  }
  .secundario{
    display: flex;
    flex-wrap: wrap;
  }
  .titulo2{
    margin-top: 0 !important;
    color: transparent;
    -webkit-text-stroke: 3px white;
    font-size: 6em;
    text-shadow: 5px 5px 5px rgb(50, 237, 250);
  }
  #carrito{
    width: 2rem;
  }
.botones{
  padding: 0.5rem;
  border-radius: 5px;
  border:none;
  background-color: #0DB4F3;
  color: white;
}
.botones2{
  padding: 0.5rem;
  border-radius: 5px;
  border:none;
  background-color: #00E194;
  color: white
}
.final{
  background: rgba(255, 255, 255, 0.281);
 padding: 3rem;
 display: flex;
 justify-content: center; 
 backdrop-filter: blur(5px);
}
footer{
border-radius: 15px;
background: rgba(255, 255, 255, 0.281);
backdrop-filter: blur(5px);
 box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
 margin: 1rem;
 width: 80vw;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

footer a{
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

footer a:hover{
  color: rgb(0, 132, 255);
  text-decoration: underline;
  padding: 0.5rem;
}

.perfil h5{
  color: white;
}

.perfil .icono{
  font-size: 7vh;
  color:white;
}

.navigation-items a .icono2{
  font-size: 5vh;
  color:white;
}

.navigation-items{
  display: flex;
  align-items: center;
}

@media(max-width: 768px){
 .titulo2{
   font-size: 3rem;
  
 }
 header{
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.5s ease;
   min-height: 10vh;
   flex-direction: column;
   background: none;
 }
 .navigation-items a {
   color: white;
   font-size: 1.1em;
   text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
 }
 .principal{
   min-height: 80vh;
   padding: 0.1rem;
   display: flex;
   flex-direction: column;
   padding-top: 12rem;
 }
 .secundario{
   width: 25rem;
   padding-bottom: 2rem;
 }
 footer{
   margin: 0;
   border-radius: none;
   box-shadow: none;
 }

}

.titulo3{
  margin-top: 0 !important;
  color: rgb(2, 133, 255);
  font-size: 1.5em;
}

.fade{
  background-color: rgba(155, 158, 152, 0.363);
}


.modal5{
  background:rgb(62, 204, 230)!important;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.modal-header{
  background:rgba(52, 197, 255, 0.678)!important;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
