@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:"Poppins", sans-serif; */
}

body{
    background-image: linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425)), url(../assets/fondo-video-img.jpg);
    background-size: cover; 
}

/*header*/
.logo{
  width: 6vw;
  height: 10vh;
  -webkit-filter: drop-shadow(3px 3px 3px black );
  filter: drop-shadow(3px 3px 3px black);
}

header{
  min-height: 15vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.288);
}

header .brand {
  color: white;
  font-size: 2.2vw;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  font-family:"Poppins", sans-serif;
}


header .nav-link {
  color: white !important;
  position: relative;
  font-size: 1.5rem;
  margin-left: 1vw;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

header .nav-link:hover{
  color: rgb(171, 228, 255);
}

.navbar-toggler{
  color: white !important;
  z-index: 2;
  background-color: white !important;
}
  header .navigation .navigation-items a:hover{
    color: rgb(171, 228, 255);
  }

  
.perfil h5{
  color: white;
  font-size: 1.5rem;
}

.perfil .icono{
  font-size: 7vh;
  color:white;
}

.navigation-items a .icono2{
  font-size: 5vh;
  color:white;
  margin-left: 2vw;
}

.navigation-items{
  display: flex;
  align-items: center;
}

.navbar-collapse{
  background-color: #4546467c;
  border-radius: 10px;
}
/*fin header*/
  #tarjeta-paquete{
    width: 25rem;
    height: 18rem;
    border-radius: 10px;
  }
  .paquete{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 28rem;
    background: rgba(255, 255, 255, 0.281);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(22px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  }
  .principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    padding-bottom: 2rem;
  
  }

 form{
    width: 20vw;
    margin-left: 76.6vw;
  } 

 form .icono3{
    font-size: 2.5rem;
    color: white;
  }

  .secundario{
    display: flex;
    flex-wrap: wrap;
  }
  .titulo2{
    margin-top: 0 !important;
    color: transparent;
    -webkit-text-stroke: 3px white;
    font-size: 6em;
    text-shadow: 5px 5px 5px rgb(50, 237, 250);
  }
  #carrito{
    width: 2rem;
  }
.botones{
  padding: 0.5rem;
  border-radius: 5px;
  border:none;
  background-color: #0DB4F3;
  color: white;
  font-family:"Poppins", sans-serif;
}

.final{
  background: rgba(255, 255, 255, 0.281);
 padding: 3rem;
 display: flex;
 justify-content: center; 
 backdrop-filter: blur(5px);
}
footer{
border-radius: 15px;
background: rgba(255, 255, 255, 0.281);
backdrop-filter: blur(5px);
 box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
 margin: 1rem;
 width: 80vw;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

footer a{
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

footer a:hover{
  color: rgb(0, 132, 255);
  text-decoration: underline;
  padding: 0.5rem;
}


.titulo3{
  margin-top: 0 !important;
  color: rgb(2, 133, 255);
  font-size: 1.5em;
}

.fade{
  background-color: rgba(155, 158, 152, 0.363);
}


.modal5{
  background:rgb(62, 204, 230)!important;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.modal-header{
  background:rgba(52, 197, 255, 0.678)!important;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.buscador-contenedor{
  width: 100%;
}

@media(max-width: 768px){
 .titulo2{
   font-size: 3rem;
  
 }

.buscador-contenedor{
  display: flex;
}

form{
  width: 55vw;
  margin-left: 25vw !important;
}
 
 header {
  border-radius: 0px;
}
header .brand {
  font-size: 5vh;
}
header .nav-link{
  font-size: 1rem;
}
.logo{
  width: 9vw;
}

.perfil .icono{
  font-size: 3.5rem;
}

.navigation-items a .icono2{
  font-size: 2rem;
}
 .principal{
   min-height: 80vh;
   padding: 0.1rem;
   display: flex;
   flex-direction: column;
   padding-top: 2rem;
 }
 .secundario{
   width: 25rem;
   padding-bottom: 1rem;
 }
 footer{
   margin: 0;
   border-radius: none;
   box-shadow: none;
 }

}

/*para perfil header*/
@media (max-width:426px) {
  .logo{
    display: none;
  }
  .perfil .icono, h5{
    display: none;
  }

  .nav-bar{
    display: flex;
    justify-content: center !important;
  }
}
