@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*fondo*/
.contenedor{
  position: relative;
  height: 100vh;
  background-image:url(../assets/fondo-video-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425));
  backdrop-filter: blur(2px);

}

.levantado {
  position: absolute;
  width: 80%;
  border-radius: 12px;
}

.levantado::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  background: linear-gradient(rgba(41, 132, 250, 0.178), rgba(41, 132, 250, 0.178));
  border-radius: 12px;
}

.levantado video {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
  border-radius: 12px;
}


/*fin fondo*/

/*header*/
.logo{
  width: 6vw;
  height: 10vh;
  -webkit-filter: drop-shadow(3px 3px 3px black );
  filter: drop-shadow(3px 3px 3px black);
}

header{
  position: absolute;
  min-height: 15vh;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius:20px ;
}

header .brand {
  color: white;
  font-size: 2.2vw;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  font-family:"Poppins", sans-serif;
}


header .nav-link {
  color: white !important;
  position: relative;
  font-size: 1.5vw;
  font-weight: 300;
  text-decoration: none;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-family:"Poppins", sans-serif;
}

header .nav-link a:hover{
  color: rgb(171, 228, 255);
 
}

.navbar-toggler{
  color: white !important;
  z-index: 2;
  background-color: white !important;
}
.btnLogin-popup{
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  font-size: 1.5vw;
  font-weight: 300;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  font-family:"Poppins", sans-serif;
}


/*fin header*/

.contenido{
  position: absolute;
  z-index: 1;
  top: 28%;
  left: 10%;
  width: 60%;
  color: white;
  background-color: rgba(0, 0, 0, 0.295);
  padding: 1rem;
  border-radius: 10px;
}

.titulo{
  font-size: 3vw;
  margin-bottom: 0 !important;
  text-shadow: 5px 5px 5px black;
  font-family:"Poppins", sans-serif;
}

.titulo2{
  margin-top: 0 !important;
  color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 4.5vw;
  text-shadow: 5px 5px 5px rgb(50, 153, 250);
  font-family:"Poppins", sans-serif;
}

.invita{
  font-size: 1.3vw;
  font-weight: none;
}

.invita2{
  font-size: 1.3vw;
  font-weight: none;
  font-family:"Poppins", sans-serif;
}

.boton{
  padding: .5rem;
  background-color: rgb(50, 153, 250);
  color: white;
  font-size: 1vw;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
  font-family:"Poppins", sans-serif;
}


.imagenDestino{
  width: 90vh;
  height: 70vh;
  border-radius: 10px;
}

.destinos{
  height: 100vh;
  padding-left: 15vw;
  padding-right: 15vw;
  background-image:linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425)), url(../assets/fondo2-video-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box{
  display: flex;
  gap: 1rem;
}


.carousel {
  width: 90vw;
  background: rgba(255, 255, 255, 0.685);
  padding: 1rem;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.titulo3{
  margin-top: 0 !important;
  color: rgb(50, 237, 250);
  -webkit-text-stroke: 1px black;
  font-size: 4vw;
  font-family:"Poppins", sans-serif;
}


.titulo4{
  margin-top: 0 !important;
  color: rgb(0, 175, 245);
  font-size: 3.5vw;
  font-family:"Poppins", sans-serif;

}
.separador{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sobreNosotros{
    min-height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-image:linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425)), url(../assets/pexels-pok-rie-2049422.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}



.tarjeta {
  background: rgba(255, 255, 255, 0.685);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
  margin: 10px;
}

.texto{
  font-size: 1.2vw;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #7ac9f9;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.hidden {
  display: none;
  opacity: 0%;
}

.back-to-top-icon {
  width: 2rem;
  height: 2rem;
  color: #000000;
}

.final{
  min-height: 30vh;
  padding-left: 9.6vw;
  padding-right: 9.6vw;
  background-image:linear-gradient(rgba(193, 218, 252, 0.637),rgba(193, 218, 252, 0.664)), url(../assets/fondo-video-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 10px solid white;
}

footer{
  background: rgba(255, 255, 255, 0.685);
  padding: 0.5rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
  margin: 1rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer p{
  font-size: 1.2vw;
}

/* loguearse */
.inicio {
  position: absolute;
  width: 90vw;
  z-index: 4;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.555);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup{
  transform: scale(1);
}

.wrapper.active {
  height: 80vh;
  width: 400px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.loguearse {
  transition: transform .18s ease;
  transform: translateX(0);
} 

.wrapper.active .form-box.loguearse {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  position: absolute;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
} 

.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.form-box .iniciar{
   font-size: 5vh;
   color: rgb(50, 153, 250);
  -webkit-text-stroke: 0.5px black;
   text-align: center;
   font-family:"Poppins", sans-serif;
}

.input-box{
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #162938;
  margin: 10px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight:500 ;
  pointer-events: none;
  transition:  .5s;
  font-family:"Poppins", sans-serif;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 27px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  font-family:"Poppins", sans-serif;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.botn {
  width: 100%;
  height: 5vh;
  background: rgb(50, 153, 250) ;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white ;
  font-weight: 800;
}

.loguearse-register {
  font-size: .9em;
  color:#162938;
  text-align: center;
  font-weight:500;
  margin: 25px 0 10px;
  font-family:"Poppins", sans-serif;
}

.loguearse-register p a {
  color: #162938;
  text-decoration: none;
  font-weight:800;
  font-family:"Poppins", sans-serif;
}

.register-link, .login-link{
  text-decoration: none;
  font-family:"Poppins", sans-serif;
}


.input-box2{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family:"Poppins", sans-serif;
}

.input-box2 input{
  background: transparent;
  border: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  font-family:"Poppins", sans-serif;
}

@media (max-width: 1073px){
  .levantado video{
    display: none;
  }
}

@media (max-width:1073px) {
  .levantado .fondo {
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
    border-radius: 12px;
  }
}

@media (min-width:1073px) {
  .levantado .fondo {
    display: none;
  }
}

@media  (max-width:768px) {
  .levantado {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .fondo{
    height: 100vh;
  }

  header {
    border-radius: 0px;
  }

  header .brand {
    font-size: 5vh;
  }

  header .nav-link, .btnLogin-popup {
    font-size: 2vh;
  }

  .logo{
    width: 9vw;
  }

  .contenido{
    top: 34%;
    width: 70%;
    height: 60vh;
  }

  .titulo{
    font-size: 4vh;
  }

  .titulo2{
    font-size: 6vh;
    -webkit-text-stroke: 2px white;
  }

  .invita2{
    font-size: 2.5vh;
  }

  .boton{
    font-size: 2vh;
  }

  .box{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .imagenDestino{
    width: 80vh;
    height: 50vh;
    border-radius: 10px;
  }
  .titulo3{
    font-size: 4vw;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  }

 .invita{
  font-size: 3vw;
 }

 .caja3{
  flex-wrap: wrap;
 }
  .texto{
    font-size: 3vw;
  }
  .titulo4{
    font-size: 3vw;
  }

  footer p{
    font-size: 2vw;
  }
}

@media (max-width: 452px) {
  .logo{
    width: 20vw;
  }
  .titulo{
    font-size: 3vh;
  }

  .titulo2{
    font-size:5vh ;
  }

  .invita2{
    font-size: 2.4vh;
  }
  .invita{
    font-size: 2.4vh;
  }
  .titulo4{
    font-size: 7vw;
  }

  .titulo3{
    font-size: 6vw;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  }
  .texto{
    font-size:2.4vh;
  }
  
  .contenido{
    width: 90%;
    left: 2%;
    height: 60vh;
  }

  footer p{
    font-size:2.4vh;
  }

  .wrapper.active {
    height: 95vh;
    width: 400px;
  }
}