@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}

.contenedor{
  position: relative;
  height: 100vh;
  background-image:url(../assets/fondo-video-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425));
  backdrop-filter: blur(2px);

}

.levantado {
  position: absolute;
  width: 80%;
  border-radius: 12px;
}

.levantado::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  background: linear-gradient(rgba(41, 132, 250, 0.178), rgba(41, 132, 250, 0.178));
  border-radius: 12px;
}

.levantado video {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
  border-radius: 12px;
}

.logo{
  -webkit-filter: drop-shadow(3px 3px 3px black );
  filter: drop-shadow(3px 3px 3px black);
}

header{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius:20px ;
}

header .brand {
  color: white;
  font-size: 1.7em;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
}

header .navigation{
  position: relative;
  
}

header .navigation .navigation-items a {
  color: white;
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

header .navigation .navigation-items a:hover{
  color: rgb(171, 228, 255);
 
}

.contenido{
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 10%;
  width: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 10px;
}

.titulo{
  font-size: 3em;
  margin-bottom: 0 !important;
  text-shadow: 5px 5px 5px black;
}

.titulo2{
  margin-top: 0 !important;
  color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 6em;
  text-shadow: 5px 5px 5px rgb(50, 153, 250);
}

.invita{
  font-size: 1.5em;
}

.boton{
  padding: .5rem;
  background-color: rgb(50, 153, 250);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}


.imagenDestino{
  width: 90vh;
  height: 70vh;
}

.destinos{
  height: 100vh;
  padding-left: 12rem;
  padding-right: 12rem;
  background-image:linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425)), url(../assets/fondo2-video-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box{
  display: flex;
  gap: 1rem;
}

.carousel {
  background: rgba(255, 255, 255, 0.685);
  padding: 2rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.titulo3{
  margin-top: 0 !important;
  color: transparent;
  -webkit-text-stroke: 3px black;
  font-size: 4em;
  text-shadow: 5px 5px 5px rgb(50, 237, 250);
}

.boton2{
  width:5.5rem ;
  padding: .5rem;
  background-color: rgb(0, 238, 255);
  color: black;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

.titulo4{
  margin-top: 0 !important;
  color: transparent;
  -webkit-text-stroke: 3px black;
  font-size: 4em;
  text-shadow: 5px 5px 5px rgb(0, 175, 245);
}
.separador{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sobreNosotros{
    height: 100vh;
    padding-left: 12rem;
    padding-right: 12rem;
    background-image:linear-gradient(rgba(193, 218, 252, 0.425),rgba(193, 218, 252, 0.425)), url(../assets/pexels-pok-rie-2049422.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
  background: rgba(255, 255, 255, 0.685);
  padding: 3rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
  margin: 1rem;
}

.texto{
  font-size: 1.2em;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #7ac9f9;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.hidden {
  display: none;
  opacity: 0%;
}

.back-to-top-icon {
  width: 2rem;
  height: 2rem;
  color: #000000;
}

.final{
  height: 15h;
  padding-left: 12rem;
  padding-right: 12rem;
  background-image:linear-gradient(rgba(193, 218, 252, 0.637),rgba(193, 218, 252, 0.664)), url(../assets/fondo-video-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 10px solid white;
}

footer{
  background: rgba(255, 255, 255, 0.685);
  padding: 3rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
  margin: 1rem;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

/* loguearse */
.inicio {
  position: absolute;
  z-index: 3;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: rgba(255, 255, 255, 0.555);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup{
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.loguearse {
  transition: transform .18s ease;
  transform: translateX(0);
} 

.wrapper.active .form-box.loguearse {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  position: absolute;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
} 

.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.form-box .iniciar{
   font-size: 2em;
   color: transparent;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 2px 2px 2px rgb(50, 153, 250);
   text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight:500 ;
  pointer-events: none;
  transition:  .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.botn {
  width: 100%;
  height: 45px;
  background: rgb(50, 153, 250) ;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white ;
  font-weight: 800;
}

.loguearse-register {
  font-size: .9em;
  color:#162938;
  text-align: center;
  font-weight:500;
  margin: 25px 0 10px;
}

.loguearse-register p a {
  color: #162938;
  text-decoration: none;
  font-weight:800;
}

.loguearse-register p a:hover {
  text-decoration:  underline;
}

.btnLogin-popup{
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
